<div class="shipping_rates compact" style="display:none">
    <div id="rate_search">
      <label class="form__label" for="postalcode">Shipping Estimate</label>
      <div class="field">
        <input type="text" autocomplete="off" name="postalcode" 
            data-key="GOOGLE_API_KEY"
            {% # enter you google maps js api key here %}
            data-auto="false"
            {% # Automaticly search rates based on customer location %}
            data-free="Free" 
            data-tags="BS"
            data-contains="true"
            data-types="postal_code" 
            {% # comma seperated list of search types values: address | postal_code | locality | country %}
            data-delivery_singular="business day" 
            data-delivery_plural="business days"
            data-countries="true"
            {% # restrict search to counties listed in data-countryCodes %}
            data-country_codes="au"
            {% # comma seperated list of coutries you ship to, limit 5 %}
            data-variant="{{ variant.id }}"
            data-variants="{% for variant in product.variants %}{{ variant.id }},{% endfor %}"
            data-producttags="{% for tag in product.tags %}{{ tag }},{% endfor %}"
            id="postalcode" class="form__input field__input form-field-input" placeholder="Enter your postal code" />
        <input type="hidden" id="postalcode-id" />
      </div>
      <button class="btn button button--full-width button-secondary" style="background-color:#000000;color:#ffffff;">Get shipping rates</button>
      <div class="rates_error">Please enter a shipping address.</div>
      <div class="rates_select">Please select a shipping address.</div>
      <div class="rates_cart_error"></div>
      <div class="rates_loading" id="rates_loading">
        <div class="rates_spinner">
          <svg class="spinner" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg>
        </div>
        <h3 id="shipping-rates__loading">Getting available shipping rates...</h3>
      </div>
      <div class="rate_results" id="rates_results">
        <div class="rate_noresult">No rates found</div>
        <div class="result_box"></div>
        <div class="result_note">&nbsp;</div>
      </div>
    </div>
  </div>
  <script src="{{ 'rates.js' | asset_url }}" async></script>
  {{ 'rates.css' | asset_url | stylesheet_tag }}
